$font: 'PantonNarrowDemo-Light';

@font-face{
	font-family: 'Default';
	src: url('./fonts/panton/' + $font + '.otf');
}

html, body {
	overflow: hidden;
	position: relative;
	height: 100%;
}

body {
	animation-name: pageFadeIn;
	animation-duration: 5s;
	margin: 0;
	font-family: 'Default';
	background-color: black;
	#app {
		position: absolute;
	  height: 100%;
	  width: 100%;
	  .btn{
			cursor: pointer;
			white-space: nowrap;
		  text-decoration: none;
	    background-color: rgb(10,10,10);
		  color: #999;
		  @media screen and (max-width: 700px){
		  	color: #eee;
		  }
		  box-shadow: 0 0 5px rgba(0,0,0,.5);
		  padding: .5em;
		  border-radius: 5px;
		  font-size: 1.5em;
		  transition: font-size .5s;
			&:hover{
			  box-shadow: 0 0 10px rgba(0,0,0,.5);
				font-size: 1.6em;
			}
	  }
	  #main-background{
			background-size: cover;
			background-image: url('./img/mainBackground.png');
			position: absolute;
			height: 100%;
			width: 100%; 
	  	background-position: center center;
			z-index: 10;
		}
		.message {
			font-size: 1.5em;
			padding: .5em;
			border-radius: 5px;
			&.hide {
				opacity: 0;
			}
			&.fade-out{
				animation: messageFadeOut 4s;
				opacity: 0;
			}
			&.success {
				background-color: rgba(0,200,0,.5);
			}
			&.error {
				background-color: rgba(200,0,0,.5);
			}
			&.pending{
				background-color: rgba(0,0,200,.5);
			}
		}
	}
}


@keyframes pageFadeIn{
	0%{opacity: 0;}
	30%{opacity: 0;}
	100%{opacity: 1;}
}


@keyframes messageFadeOut{
	0% {opacity: 1;}
	80% {opacity: 1;}
	100% {opacity: 0;}
}
