.site-image, #hover-div{
	position: absolute;			
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 40%;
  height: 25vw;
  top: calc(50vh - 15.25vw);
	opacity: 0;
  @media screen and (max-aspect-ratio: 8/5){
		width: 64vh;
		top: 25.6vh;
		height: 39.3vh;
	}
}
.site-image{
	height: 100%;
	background-position: center 0%;
	background-size: cover;
  &.active{
  	opacity: 1;
  	background-position: center 20%;
  	transition: background-position 3s 1s;
  }
  &.fade-in{
  	opacity: 1;
  	transition: opacity 1s;
  }
  &.fade-out{
  	opacity: 0;
  	background-position: center 20%;
  	transition: opacity 1s;
  }
}
#hover-div{
	transition: opacity .5s;
	cursor: pointer;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
	&:hover{
		opacity: .7;
	}
	h1{
		color: white;
	}
}